<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.github.vogoltsov.vp.plugins.visual-paradigm-confluence-plugin"
        name="Confluence"
        provider="Vitaly Ogoltsov"
        class="com.github.vogoltsov.vp.plugins.confluence.VPConfluencePlugin">

    <runtime>
    </runtime>

    <actionSets>

        <actionSet id="confluence.ActionSet1">
            <toolbar id="confluence.ActionSet1.Toolbar1"
                     orientation="north"
                     index="last"/>
            <toolbar id="confluence.ActionSet1.Toolbar2"
                     orientation="north"
                     index="last"/>

            <action id="confluence.ActionSet1.quick-export-diagram"
                    actionType="generalAction"
                    label="Quick Export"
                    style="normal"
                    icon="icons/confluence/quick-export.png"
                    toolbarPath="confluence.ActionSet1.Toolbar1/#">

                <actionController class="com.github.vogoltsov.vp.plugins.confluence.action.QuickExportDiagramActionController"/>
            </action>

            <action id="confluence.ActionSet1.export-diagram-as"
                    actionType="generalAction"
                    label="Export Diagram As..."
                    style="normal"
                    icon="icons/confluence/export-as.png"
                    toolbarPath="confluence.ActionSet1.Toolbar1/#">

                <actionController class="com.github.vogoltsov.vp.plugins.confluence.action.ExportDiagramAsActionController"/>
            </action>


            <separator id="sample.plugin.actions.Separator1"
                       toolbarPath="confluence.ActionSet1.Toolbar1/#"/>


            <action id="confluence.ActionSet1.open-confluence-server-settings"
                    actionType="generalAction"
                    label="Connect to Server"
                    style="normal"
                    icon="icons/confluence/server.png"
                    toolbarPath="confluence.ActionSet1.Toolbar1/#">

                <actionController class="com.github.vogoltsov.vp.plugins.confluence.action.ServerConnectionActionController"/>
            </action>


            <separator id="sample.plugin.actions.Separator2"
                       toolbarPath="confluence.ActionSet1.Toolbar1/#"/>


<!--
            <action id="confluence.ActionSet1.reload-all-plugins"
                    actionType="generalAction"
                    label="Reload All Plugins"
                    style="normal"
                    toolbarPath="confluence.ActionSet1.Toolbar1/#">

                <actionController class="com.github.vogoltsov.vp.plugins.confluence.action.ReloadAllPlugins"/>
            </action>
-->
        </actionSet>

    </actionSets>

</plugin>
