<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.github.vogoltsov.vp.plugins.visual-paradigm-design-plugin"
        name="Design"
        provider="Vitaly Ogoltsov"
        class="com.github.vogoltsov.vp.plugins.design.VPDesignPlugin">

    <runtime>
    </runtime>

    <actionSets>

        <actionSet id="design.actions.common">
            <toolbar id="design.actions.toolbar"
                     orientation="north"
                     index="last"/>
        </actionSet>

        <actionSet id="design.actions.action-set-1">

            <action id="design.actions.action-set-1.apply-styles-to-active-diagram"
                    actionType="generalAction"
                    label="Apply"
                    style="normal"
                    icon="icons/design/apply_64x64.png"
                    toolbarPath="design.actions.toolbar/#">

                <actionController class="com.github.vogoltsov.vp.plugins.design.action.ApplyStylesToActiveDiagram"/>
            </action>

            <action id="design.actions.action-set-1.sync-formats"
                    actionType="generalAction"
                    label="Formats"
                    style="normal"
                    icon="icons/design/styles_64x64.png"
                    toolbarPath="design.actions.toolbar/#">

                <actionController class="com.github.vogoltsov.vp.plugins.design.action.SyncStyles"/>
            </action>

            <action id="design.actions.action-set-1.sync-stereotypes"
                    actionType="generalAction"
                    label="Stereotypes"
                    style="normal"
                    icon="icons/design/stereotypes_64x64.png"
                    toolbarPath="design.actions.toolbar/#">

                <actionController class="com.github.vogoltsov.vp.plugins.design.action.SyncStereotypes"/>
            </action>

        </actionSet>

    </actionSets>

</plugin>
